<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackguo.Dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.jackguo.vo.SysUserVo">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" property="id" />
    <result column="login_name" property="loginName" />
    <result column="login_password" property="loginPassword" />
    <result column="phone" property="phone" />
    <result column="realname" property="realname" />
    <result column="id_card" property="idCard" />
    <result column="sex" property="sex" />
    <result column="address" property="address" />
    <result column="img" property="img" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, login_name, login_password, phone, realname, id_card, sex, address, img, create_time
  </sql>
    <select id="selectByNameAndPassword" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from sys_user where login_name=#{username} and login_password=#{password}
    </select>

  <select id="selectList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="realname !=null and realname != ''">
        and realname like concat('%',#{realname},'%')
      </if>
      <if test="phone !=null and phone != ''">
        and phone =#{phone}
      </if>
      <if test="address !=null and address != ''">
        and address like concat('%',#{address},'%')
      </if>

    </where>

  </select>

  <select id="selectUserByNameOrPhoneOrIdCard" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
            from sys_user
    <where>
      <if test="loginName !=null and loginName != ''">
        and login_name =#{loginName}
      </if>
      <if test="phone !=null and phone != ''">
        and phone =#{phone}
      </if>
      <if test="idCard !=null and idCard != ''">
        and idCard =#{idCard}
      </if>

    </where>

    </select>
      <insert id="insert">
            insert into
        sys_user  (login_name, login_password, phone, realname, id_card, sex, address)
             value (
              #{loginName},
              #{loginPassword},
              #{phone},
              #{realname},
              #{idCard},
              #{sex},
              #{address}
              )
      </insert>

  <update id="updatePassword">
    UPDATE sys_user SET login_password=#{password} WHERE id = #{id}

  </update>

  <update id="updatePasswordByZWY">
    update sys_user set login_password =#{newPassword} where id=#{id}

  </update>
</mapper>